# keep this sorted alphabetically
*.bak
*.bin
*.img
*.nedb
*.tgz
/.*
/*.yml
/ae_options.json
/build
/coverage
/package
/pe
/test
/test/*
/variants
__*/
coverage.txt
doc
documentation
dropbox-deployment.*
errlog.txt
fst_tcp.ini
gulpfile.js
index-backup.*
mocha.opts
npm-debug.log
npm-shrinkwrap.json
pack.log
package-lock.json
publish_error.txt
registry.bak
registry.ini
webSrc
